html{
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

.element {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
}

#buttons {
    overflow: hidden;
    float: left;
    padding: 10px;
    width: 100%;
}

.element {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
}

.random {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
}