html{
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}

.table_here {
    width: 100%;
    height: 100%;
}

th {
    background-color:#FFFFFF;
    margin: 0px !important;
}