html{
    background-color: black;
}

body {
	margin: 0px auto;
    font-family: 'PT Sans', sans-serif;
	font-size: 25pt;
    font-weight: bold;
    color: white;
    align-content: center;
    display: block;
    padding: 100px;
}


div {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    padding-top: 50px;
}

div p {
    margin: 0;
}

#change {
    padding-left: 10px;
    vertical-align: middle;
    padding-bottom: 5px;
    border-bottom: solid 10px;
    border-bottom-color: white;
}

#warmest {
    color: orange;
}

#coolest {
    color: blue;
}

